.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.captcha_img {
    cursor: pointer;
    width: 150px;
}

.parsley-error {
    border-color: red !important;
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

.parsley-errors-list.filled {
    display: block;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #f6504d;
}

.validation-error-label {
    font-size: 12px;
    color: #f6504d;
}

.footer-nav li {
    display: inline;
    padding: 0px 10px;
}

.footer-nav a {
    color: grey;
    text-decoration: none;
}

.dataTables_filter {
    margin-bottom: 15px;
}

.dt-button {
    float: right;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.photo-card > img {
    border: 1px solid #eee;
    transition: .5s
}

.photo-card:hover > img {
    opacity: .8;
    background-color: #FFF;
    transition: .5s
}

.photo-card a.photo-del {
    position: absolute;
    opacity: 0;
    top: 2px;
    right: 2px;
    background: #2771bc;
    padding: 2px 8px 3px 8px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.photo-card {
    transition: .5s;
    overflow: hidden;
    position: relative;
    display: inline-block
}

.photo-card .photo-desc {
    display: block;
    filter: alpha(opacity=80);
    opacity: 0;
    background-color: #428bca;
    margin: 0;
    color: #FFF;
    padding: 10px;
    position: absolute;
    bottom: 19px;
    left: 0;
    right: 0;
    transition: .3s
}

.photo-card:hover .photo-desc {
    opacity: .9
}

.photo-card:hover a.photo-del {
    opacity: .9
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}
.carousel-indicators {
    bottom: 60px !important;
}